:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.require-load {
    opacity: 0;
}

.require-load[loaded="true"] {
    opacity: 1!important;
    transition: opacity 0.5s ease-in-out;
}


body {
  margin: 0;
  
}
